
<div class="row">
	<div class="col-md-12">
		<h1> <%=user.name %></h1>
		<%if(user.admin){%>
			<img src="/images/king.png">Admin
		<%} else{ %>
			<img src="/images/pawn.png">User
		<%}  %>
		<h3> <%=user.title%></h3>
		<hr>
		<h3>Contact: <%=user.email%></h3>

		<a class="btn btn-md btn-primary" href="/user/edit/<%=user.id%>">Edit</a>
	</div>
</div>